body {
    margin: 0;
}
#container {
    display: grid;
    grid-template-rows: 10% auto 10%;
}
#divider {
    display: grid;
    grid-template-columns: 15% 85%;
}
header {
    display: flex;
    justify-content: right;
    padding: 10px;
    border: 1px solid rgba(171, 71, 188);
    background-color: rgba(171, 71, 188, 0.2);
}
#cart {
    padding: 0 10px;
    padding-top: 2px;
    height: 15px;
}
form {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(171, 71, 188);
    padding: 2px;
}
::placeholder {
    color: rgba(171, 71, 188);
}
input {
    flex-grow: 2;
    border: none;
}

input:focus {
    outline: none;
}
button {
    border: 1px solid rgba(171, 71, 188);
    background-color: rgba(171, 71, 188, 0.2);
    color: rgba(171, 71, 188);
}