/********
 * BODY *
 ********/
body {
    margin: 0;
}
#container {
    display: grid;
    grid-template-rows: 10% 80vh 10%;
}
/**********
 * HEADER *
 **********/
header {
    display: flex;
    justify-content: right;
    padding: 10px;
    border: 1px solid rgba(171, 71, 188);
    background-color: rgba(171, 71, 188, 0.2);
}
/* Logo */
a {
    text-decoration: none;
    color: rgba(171, 71, 188)
}
#logo {
    font-size: 20px;
}
#cart {
    padding: 0 10px;
    padding-top: 2px;
    height: 15px;
}
/******************
 * MIDDLE SECTION *
 ******************/
#divider {
    display: grid;
    grid-template-columns: 20% 80%;
}
/* Theme menu */
#theme-menu {
    border-right: 1px solid rgba(171, 71, 188, 0.2);
}
#choose {
    font-size: 14px;
}
.li-theme {
    font-size: 12px;
    list-style: none;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
}
/* Input form */
form {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(171, 71, 188);
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 600px;
    padding: 2px;
}
::placeholder {
    color: rgba(171, 71, 188);
}
input {
    flex-grow: 2;
    border: none;
}
input:focus {
    outline: none;
}
/* Button */
button {
    border: 1px solid rgba(171, 71, 188);
    background-color: rgba(171, 71, 188, 0.2);
    color: rgba(171, 71, 188);
}
/* Categories */
#menu {
    font-size: 14px;
    margin-left: 150px;
    padding: 2px;
    display: grid;
    grid-template-columns:  15% 15% 15%;
    list-style: none;
}
/************
 * MYDOLIST *
 ************/
#todo-headers-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.todo-headers {
    /* display: flex; */
    /* align-content: space-between; */
}
#active-list {
    /* display: flex; */
    /* justify-content: left; */
}
#done-list {
    /* display: flex; */
    /* justify-content: right; */
}
.todo-list {
    display: flex;
    flex-direction: column;
}
 /* COMPLETE LINE THROUGH */ 
.complete {
    text-decoration: line-through;
}
/**********
 * FOOTER *
 **********/
footer {
    display: grid;
    grid-template-rows: ;
}
footer>ul {
    display: grid;
    grid-template-columns: 10% 10% 10%;
    justify-content: center;
}